<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Find your Testcases </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>

        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}


        /* DEMO-SPECIFIC STYLES */
        .typewriter h1 {
          color: #fff;
          font-family: monospace;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          white-space: nowrap; /* Keeps the content on a single line */
           /* Gives that scrolling effect as the typing happens */
          letter-spacing: .15em; /* Adjust as needed */
          animation:
            typing 8.5s infinite,
            blink-caret .99s infinite;
        }

        /* The typing effect */
        @keyframes typing {
          from { width: 0 }
          to { width: 100% }
        }

        /* The typewriter cursor effect */
        @keyframes blink-caret {
          from, to { border-color: transparent }
          56% { border-color: orange }
        }
    </style>
</head>

<!-- Header -->
 <body>
  {% include 'home_test/navbar.html' %}
  <header class="w3-container w3-green w3-center" style="padding:20px;">
  <center><div class="typewriter">
  <h1 class="w3-margin">Find Your TestCase</h1>
</div></center>
</header>
<br>
<div class="container">
    <div class="container">
    <select class="custom-select " id="selectques" style="margin-bottom:20px;">
  <option selected><strong>Choose Your Desired Question<strong></option>
              <option value="testsep1" id="sep1" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/MAGICHF">Magician versus Chef </option>
              <option value="testsep2" id="sep2" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/CHEFADV">Chef and Adventures</option>
              <option value="testsep5" id="sep3" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/XORIER">War of XORs</option>
              <option value="testsep3" id="sep5" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/TABGAME">Table Game</option>
              <option value="testsep4" id="sep6" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/CHEFZERO">Chef and Condition Zero (Challenge)</option>
              <option value="testsep3" id="sep7" onclick="showbox()" href="https://www.codechef.com/SEPT18B/problems/ANDSQR">AND Square Subsegments</option>
	  			<option value="test1" id="1" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/RD19">Spell Bob</option>
	      	  	<option value="test8" id="2" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/XORAGN">Sheokand and Number</option>
	      	  	<option value="test2" id="3" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/MTYFRI">Problem Sort</option>
	      	  	<option value="test1" id="4" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/DBFB">Modular GCD</option>
	      	  	<option value="test4" id="5" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/FAKEBS">Princess and Dragons</option>
	      	  	<option value="test8" id="6" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/CHSIGN">Chef in a Mysterious Land</option>
	      	  	<option value="test3" id="7" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/STMINCUT">Lonely Cycles </option>
	      	  	<option value="test5" id="8" onclick="showbox()" href="https://www.codechef.com/MAY18B/problems/STMINCUT">Coordinate Compression </option>
</select>
    </div>


<div class="container" id="your" >

	<div >
	      <h3>Details for the above question</h3>
	      <br>
	</div>
	


	<div id="test1" class="" style="display:none; margin-left:20px; margin-top:-10px ; margin-bottom: 40px;">
		<form method="post" enctype="multipart/form-data">

		  <div class="form-group"> 
		    <label>Test Cases</label>
		    <input type="number" id="testcase1" class="form-control" placeholder="Enter the number of test cases..">
		  </div>

		</form>
	</div>

	<div id="test8" class="w3-container" style="display:block;  margin-left:20px; margin-top:-10px ; margin-bottom: 40px;">
		<form>

		  <div class="form-group">
		    <label>Test Cases</label>
		    <input type="number" class="form-control" id="testcase8" placeholder="Enter the number of test cases..">
		  </div>

		  <div class="form-group">
		    <label>Max N</label>
		    <input type="number" class="form-control" id="input8N" placeholder="Enter the maximum number of N">
		  </div>
		  
		</form>
	</div>


	<div id="test2" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
		<form>

		  <div class="form-group">
		    <label>P</label>
		    <input type="number" class="form-control" id="input2P" placeholder="Enter the number of P">
		  </div>
		  <div class="form-group">
		    <label>S</label>
		    <input type="number" class="form-control" id="input2S" placeholder="Enter the number of S">
		  </div>
		  
		</form>
	
	</div>

	<div id="test3" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
		<form>
			<div class="form-group">
		    <label>N</label>
		    <input type="number" class="form-control" id="input3N" placeholder="Enter the number of P">
		  </div>
		  <div class="form-group">
		    <label>M</label>
		    <input type="number" class="form-control" id="input3M" placeholder="Enter the number of S">
		  </div>
		  
		</form>
	</div>

	<!--written by gautam!-->
	<div id="test4" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
		<form>

		  <div class="form-group">
		    <label>Test Cases</label>
		    <input type="number" class="form-control" id="testcase4" placeholder="Enter the number of test cases..">
		  </div>

		  <div class="form-row">

        <div class="form-group col-md-6">
          <label>N (Enter Max Size Of Array)</label>
          <input type="number" class="form-control" id="input4N" placeholder="Enter size of array..">
        </div>

		    <div class="form-group col-md-6">
		      <label>P (Enter Max Prince Strength)</label>
		      <input type="number" class="form-control" id="input4P" placeholder="Enter size of array..">
		    </div>

		  </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Ai (Enter Max Value Of Array)</label>
            <input type="number" class="form-control" id="input4AImax" placeholder="Enter size of array..">
          </div>

          <div class="form-group col-md-6">
            <label>Ai (Enter Min Value Array)</label>
            <input type="number" class="form-control" id="input4AImin" placeholder="Enter size of array..">
          </div>
        </div>

    </form>
  </div>

		<div id="test5" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
		  <form>
			 
        <div class="form-group">
          <label>Test Cases</label>
          <input type="number" class="form-control" id="testcase5" placeholder="Enter the number of test cases..">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>N (Enter Max Size Of Array)</label>
            <input type="number" class="form-control" id="input5N" placeholder="Enter size of array..">
          </div>

          <div class="form-group col-md-6">
            <label>S</label>
            <input type="number" class="form-control" id="input5S" placeholder="Enter size of array..">
          </div>
		    </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Ai (Enter Max Value Of Array)</label>
            <input type="number" class="form-control" id="input5AImax" placeholder="Enter size of array..">
          </div>

          <div class="form-group col-md-6">
            <label>Ai (Enter Min Value Array)</label>
            <input type="number" class="form-control" id="input5AImin" placeholder="Enter size of array..">
          </div>
        </div>

		</form>
	</div>

        <div id="testsep1" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
      <form>
       
        <div class="form-group">
          <label>Test Cases</label>
          <input type="number" class="form-control" id="testcasesep1" placeholder="Enter the number of test cases..">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>N</label>
            <input type="number" class="form-control" id="inputsep1N" placeholder="Enter size of N..">
          </div>

          <div class="form-group col-md-6">
            <label>X</label>
            <input type="number" class="form-control" id="inputsep1X" placeholder="Enter size of X..">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>S </label>
            <input type="number" class="form-control" id="inputsep1S" placeholder="Enter size of S..">
          </div>
        </div>

    </form>
  </div>



  <div id="testsep2" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
      <form>
       
        <div class="form-group">
          <label>Test Cases</label>
          <input type="number" class="form-control" id="testcasesep2" placeholder="Enter the number of test cases..">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>N</label>
            <input type="number" class="form-control" id="inputsep2N" placeholder="Enter size of N..">
          </div>

          <div class="form-group col-md-6">
            <label>M</label>
            <input type="number" class="form-control" id="inputsep2M" placeholder="Enter size of M..">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>X</label>
            <input type="number" class="form-control" id="inputsep2X" placeholder="Enter size of X..">
          </div>

          <div class="form-group col-md-6">
            <label>Y</label>
            <input type="number" class="form-control" id="inputsep2Y" placeholder="Enter size of Y..">
          </div>
        </div>

    </form>
  </div>


  <div id="testsep3" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
      <form>
       
        <div class="form-group">
          <label>Test Cases</label>
          <input type="number" class="form-control" id="testcasesep3" placeholder="Enter the number of test cases..">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>N</label>
            <input type="number" class="form-control" id="inputsep3N" placeholder="Enter size of N..">
          </div>

          <div class="form-group col-md-6">
            <label>M</label>
            <input type="number" class="form-control" id="inputsep3M" placeholder="Enter size of M..">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Q </label>
            <input type="number" class="form-control" id="inputsep3Q" placeholder="Enter size of Q..">
          </div>    
        </div>

    </form>
  </div>

    <div id="testsep4" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
    <form>
      <div class="form-group">
        <label>N</label>
        <input type="number" class="form-control" id="inputsep4N" placeholder="Enter the number of N">
      </div>
      <div class="form-group">
        <label>M</label>
        <input type="number" class="form-control" id="inputsep4M" placeholder="Enter the number of M">
      </div>
      <div class="form-group">
        <label>K</label>
        <input type="number" class="form-control" id="inputsep4K" placeholder="Enter the number of K">
      </div>
      
    </form>
  </div>

  <div id="testsep5" class="w3-container" style="display:none; margin-left:20px; margin-top:-10px ;margin-bottom: 40px;">
      <form>
       
        <div class="form-group">
          <label>Test Cases</label>
          <input type="number" class="form-control" id="testcasesep5" placeholder="Enter the number of test cases..">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>N</label>
            <input type="number" class="form-control" id="inputsep5N" placeholder="Enter size of N..">
          </div>

          <div class="form-group col-md-6">
            <label>minv</label>
            <input type="number" class="form-control" id="inputsep5minv" placeholder="Enter size of M..">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>maxv</label>
            <input type="number" class="form-control" id="inputsep5maxv" placeholder="Enter size of Q..">
          </div>    
        </div>

    </form>
  </div>






		</form>

	</div>
</div>



<div class="container">
    <div >
    <h3>Upload Your Files:</h3>
    <br>
       <div method="post" enctype="multipart/form-data">
		    <div class="form-row">
		        <div class="custom-file form-inline col-md-6" style="margin-bottom:12px;">
  				    <input type="file" class="custom-file-input" id="brute" name="brute[]" required>
  				    <label class="custom-file-label" for="brute">Upload you brute force approach</label>
			    </div>
                &nbsp &nbsp
                <div class="form-inline col-md-4" style="margin-top:-10px;">
                    <select id="exbrute" class="custom-select" required>
                      <option selected>Choose the language</option>
                      <option value="cpp" selected>C++</option>
                    </select>
                </div>
            </div>

           <div class="form-row">
               <div class="form-inline custom-file col-md-6" style="margin-bottom:12px;">
  				    <input type="file" class="custom-file-input" id="optimize" name="opti[]" required>
  				    <label class="custom-file-label" for="optimize">Upload you optimized approach</label>
			    </div>
               &nbsp &nbsp
               <div class="form-inline col-md-4" style="margin-top:-10px;">
                    <select class="custom-select" id="exopti" required>
                      <option selected>Choose the language</option>
                      <option value="cpp" selected>C++</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
              Enter you Email Address-:<input width="50%" type="email" class="form-control" id="email_user" placeholder="Enter the email adr" required>
            </div>
        </form>
    </div>

</div>
    <center style="margin-bottom:15px;margin-top:15px;">
                    <button type="button" onclick="gogenerate('compare')"  class="btn btn-primary">Compare the Output</button>
                &nbsp &nbsp
        <button type="button" onclick="gogenerate('test')" class="btn btn-primary">Only Download the test case file</button></center>


<br><br>
</div>

<script type="text/javascript">

$(document).ready(function(){

    $('#selectques').on('change', function() {
      var arr=["testsep1","testsep2","testsep3","testsep4","testsep5","test1","test2","test3","test4","test5","test8"];
      for (k in arr){
          if ( $('#selectques').val() == arr[k] )
            $("#"+arr[k]).css('display','block');
          else
              $("#"+arr[k]).css('display','none');      
      }
    });
    $("#optimize").on('change',function(){
      file_obj=$("#optimize")[0].files;
      $("#optimize")[0].labels[0].innerHTML=file_obj[0].name;
    });
    $("#brute").on('change',function(){
      file_obj=$("#brute")[0].files;
      $("#brute")[0].labels[0].innerHTML=file_obj[0].name;
    });

});

	function gogenerate( k){

        var fileSelect = document.getElementById('brute');
    	var formData = new FormData();
	    var files = fileSelect.files;
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
            console.log(file.type);
          formData.append('brute[]', file, file.name);
        }
        var fileSelect = document.getElementById('optimize');
      	var files = fileSelect.files;
        for (var i = 0; i < files.length; i++) {
          var file = files[i];

            console.log(file.type);
          formData.append('opti[]', file, file.name);
        }
        formData.append("exbrute",$('#exbrute').val());
        formData.append("exopti",$('#exopti').val());
        formData.append("select",k);

    	var select_id=$('#selectques').children(":selected").attr('id');

		if($('#selectques').val()=="test1"){
		    formData.append("id", select_id);
            formData.append("testcase", $("#testcase1").val());
		}

		if($('#selectques').val()=="test2"){
		    formData.append("id", select_id);
            formData.append("P", $("#input2P").val());
            formData.append("S", $("#input2S").val());
		}

		if($('#selectques').val()=="test3"){
		    formData.append("id", select_id);
            formData.append("N",$("#input3N").val());
            formData.append("M", $("#input3M").val());
		}

		if($('#selectques').val()=="test4"){
			formData.append("id", select_id);
      formData.append("testcase",$("#testcase4").val());
      formData.append("min",$("#input4AImin").val());
	    formData.append("max",$("#input4AImax").val());
      formData.append("N",$("#input4N").val());
      formData.append("P",$("#input4P").val());
		}

		if($('#selectques').val()=="test8"){
		    formData.append("id", select_id);
        formData.append("testcase",$("#testcase8").val());
        formData.append("N",$("#input8N").val());
		}

		if($('#selectques').val()=="test5"){
      formData.append("id", select_id);
      formData.append("testcase",$("#testcase5").val());
      formData.append("N",$("#input5N").val());
      formData.append("S",$("#input5S").val());
      formData.append("min",$("#input5AImin").val());
      formData.append("max",$("#input5AImax").val());
		}

    if($('#selectques').val()=="testsep1"){
      formData.append("id", select_id);
      formData.append("testcase",$("#testcasesep1").val());
      formData.append("N",$("#inputsep1N").val());
      formData.append("S",$("#inputsep1S").val());
      formData.append("X",$("#inputsep1X").val());
    }

    if($('#selectques').val()=="testsep2"){
      formData.append("id", select_id);
      formData.append("testcase",$("#testcasesep2").val());
      formData.append("N",$("#inputsep2N").val());
      formData.append("M",$("#inputsep2M").val());
      formData.append("X",$("#inputsep2X").val());
      formData.append("Y",$("#inputsep2Y").val());
    }

    if($('#selectques').val()=="testsep3"){
      formData.append("id", select_id);
      formData.append("testcase",$("#testcasesep3").val());
      formData.append("N",$("#inputsep3N").val());
      formData.append("M",$("#inputsep3M").val());
      formData.append("Q",$("#inputsep3Q").val());
    }

    if($('#selectques').val()=="testsep4"){
      formData.append("id", select_id);
      formData.append("N",$("#inputsep4N").val());
      formData.append("M",$("#inputsep4M").val());
      formData.append("K",$("#inputsep4K").val());
    }

    if($('#selectques').val()=="testsep5"){
      formData.append("id", select_id);
      formData.append("testcase",$("#testcasesep5").val());
      formData.append("N",$("#inputsep5N").val());
      formData.append("minv",$("#inputsep5minv").val());
      formData.append("maxv",$("#inputsep5maxv").val());
    }
    console.log($("#email_user").val());
    formData.append("email_user",$("#email_user").val());



    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "http://149.129.128.10/testcase/gogenerate/",
      "method": "POST",
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data",
      "data": formData
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
      alert("Check your Email")
    });


    return false;
  }
</script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>

</body>
</html>
