<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home_test:home' %}">Cp Helper</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home_test:home' %}">Home <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">

                <a class="nav-link" href="{% url 'home_test:home1' %}">Findyourtestcases </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tcg:tcg1' %}">Testcase Generator</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_anonymous %}
            <li class="nav-item">
                <a href="/cp/login_user/" class="btn btn-primary">Register</a>
            </li>
            <li class="nav-item">
                <a href="/cp/login/" class="btn btn-primary">Login</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home_test:profile' %}">{{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a href="/logout/"><button type="button" class="btn btn-primary">Logout
                </button></a>
            </li>

          {% endif %}
        </ul>
    </div>
</nav>


