<!DOCTYPE html>
<html>
   <head>
    <style type="text/css">
      /* Style tab links */
.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

.tablink:hover {
  background-color: red;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #777;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}

    </style>
      {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <title>Profile</title>
      <link rel="stylesheet" type="text/css" href="{% static 'home_test/profile.css' %}"/>
   </head>
   <body style="background-color: lightgrey;">
      {% include 'home_test/navbar.html' %}
      <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->
      <div class="container">
         <div class="card text-center" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="card-header">
               Profile
            </div>
            <div class="card-body">
               <h1 class="card-title">{{ username }}</h1>
               <div class="container">
                  <div class="row justify-content-md-center">
                     <div class="col col-lg-2">
                        <h2><strong> {{ country }} </strong></h2>
                        <p><small>Country</small></p>
                     </div>
                     <div class="col-md-auto">
                        <h2><strong> {{ points }} </strong></h2>
                        <p><small>Points</small></p>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="row">
                     <div class="col-sm">
                        <h2><strong> {{ rank }} </strong></h2>
                        <p><small>Rank</small></p>
                     </div>
                     <div class="col-sm">
                        <h2><strong>{{ rating }}</strong></h2>
                        <p><small>Rating</small></p>
                     </div>
                     <div class="col-sm">
                        <h2><strong>{{ solcount }}</strong></h2>
                        <p><small>Solved</small></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
            <div class="card text-center">
  <div class="card-header">
    <button class="tablink" onclick="openPage('Home', this,'white')" id="defaultOpen">Solved</button>
<button class="tablink" onclick="openPage('News', this, 'white')" >Unsolved</button>


<div id="Home" class="tabcontent">
  <h3>Solved</h3>
{% for solved in solved %}
                     <div class="list-group">
                        <a href=https://www.codechef.com/problems/{{ solved.1 }} class="list-group-item list-group-item-action list-group-item-light">{{ solved.0 }}</a>
                     </div>
                     {% endfor %}
</div>

<div id="News" class="tabcontent">
                    <h3>Unsolved</h3>
                       {% for unsolved in unsolved %}
                     <div class="list-group">
                        <a href=https://www.codechef.com/problems/{{ unsolved.1 }} class="list-group-item list-group-item-action list-group-item-light">{{ unsolved.0 }}</a>
                     </div>
                     {% endfor %} 
</div>



</div>         
      </div>
      <script type="text/javascript">
        function openPage(pageName, elmnt, color) {
    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
      </script>
   </body>
</html>